<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.BenchDBConnectionString"
            connectionString="Data Source=25.79.197.77\SQLEXPRESS;Initial Catalog=BenchDB;Persist Security Info=True;User ID=sa;Password=mauro066"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>